.container {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  margin-bottom: 7rem;
}

.section2 {
  width: 40%;
  flex-direction: column;
  height: auto;
}
.heading1 {
  font-size: 4rem;
  font-weight: bolder;
  width: 80%;
  margin-top: 12rem;
}
.paragraph {
  font-size: 17px;
  line-height: 1.8;
  font-weight: lighter;
  width: 75%;
}
.photo {
  width: 50%;
}
