section {
  display: flex !important;
  margin: auto;
  width: 85%;
  height: 80vh;
}
.heading1 {
  font-size: 64px;
  font-weight: 800;
  width: 80%;
}
.content {
  width: 50%;
  margin-top: 150px;
}
.images {
  width: 50%;
}
.images .union {
  float: right;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}
.images .union1 {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
}
.images .bitmap {
  position: absolute;
  z-index: 1;
  right: 240px;
  top: 124px;
}
.images .ellipse {
  position: absolute;
  z-index: 2;
  top: 644px;
  right: 250px;
}

.content p {
  font-size: 16px;
  color: #191919;
  margin-top: 20px;
}

ul {
  display: flex;
}

.ellipse1,
.ellipse2,
.ellipse3,
.ellipse4,
.ellipse5 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #666666;
  margin-right: 15px;
  cursor: pointer;
}

.ellipse2 {
  background-color: #feb554;
}
.ellipse3 {
  background-color: #606651;
}
.ellipse4 {
  background-color: #edab7b;
}
.ellipse5 {
  background-color: #c56a72;
}

.circle1 {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #666666;
  border-radius: 50%;
}

.circle2 {
  transform: translate(10%, 10%);
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
}

.circle3 {
  transform: translate(20%, 20%);
  width: 20px;
  height: 20px;
  background-color: #666666;
  border-radius: 50%;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.price {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}
.btnBuy {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  line-height: 2.9;
  text-transform: uppercase;
  width: 190px;
  height: 44px;
  margin-left: 3rem;
}

.selected {
  font-size: 15px;
  font-weight: 900;
  margin-left: -2px;
  position: relative;
}

.hide {
  visibility: hidden;
}

.color1 {
  color: #666666;
}
.color2 {
  color: #feb554;
}

.color3 {
  color: #606651;
}

.color4 {
  color: #edab7b;
}
.color5 {
  color: #c56a72;
}
.circle01,
.circle001,
.circle0001,
.circle00001 {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #feb554;
  border-radius: 50%;
}

.circle03,
.circle003,
.circle0003,
.circle00003 {
  transform: translate(20%, 20%);
  width: 20px;
  height: 20px;
  background-color: #feb554;
  border-radius: 50%;
}

.circle001 {
  background-color: #606651;
}

.circle003 {
  background-color: #606651;
}
.circle0001 {
  background-color: #edab7b;
}

.circle0003 {
  background-color: #edab7b;
}
.circle00001 {
  background-color: #c56a72;
}

.circle00003 {
  background-color: #c56a72;
}

.circle02,
.circle002,
.circle0002,
.circle00002 {
  transform: translate(10%, 10%);
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
}
