.footerContainer {
  height: auto;
  background-color: #191919;
}
.footer {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.girl {
  width: 650px;
  height: auto;
  position: relative;
  margin-top: -11rem;
}
.heading1 {
  font-size: 48px;
  font-weight: 900;
  width: 500px;
}
.paragraph {
  font-size: 18px;
  width: 450px;
}
.form {
  width: 50%;
}
.btns {
  display: flex;
}
.input {
  border-radius: 30px;
  padding: 5px;
  outline: none;
  border: 0;
  outline: none;
  text-align: left;
  color: #7b7b7b;
  position: relative;
  padding-top: 16px;
  padding-left: 26px;
  font-size: 20px;
  font-weight: 100;
  margin-right: 1rem;
}
.btn {
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 13px;
}
.nav {
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #000;
  height: 90px;
  padding: 0 17rem;
  margin-bottom: 0rem;
}
.link {
  cursor: pointer;
}
