.products {
  background-color: #f2f2f2;
  padding: 8rem 0;
  padding-bottom: 15rem;
}
.headSection {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.btn {
  width: 190px;
  height: 48px;
  border-radius: 50px;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.heading1 {
  font-weight: 800;
}
.card {
  background-color: white;
  width: 325px;
  height: 465px;
  border-radius: 15px;
  margin: auto;
}
.img {
  margin: auto;
  padding-top: 3rem;
}
.heading4 {
  text-align: left;
  width: 90%;
  padding: 3rem 2rem;
  padding-bottom: 0;
  line-height: 1.4;
}
.price {
  padding-left: 2rem;
  opacity: 0.3;
}
